{% extends "base.html" %}


{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="container">
    <div class="jumbotron">
      <div class="container">
        <h1>Web Store!</h1>
        <p>This is a website created using Django and uses SQLite as the database to hold all of the information on this site.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4 col-md-offset-2"" >
          <h2>Products</h2>
          <p>We have many different available products for you to choose from to buy. </p>
          <p><a class="btn btn-default" href="{% url 'product' %}" role="button">Products List</a></p>
        </div>
        <div class="col-md-4">
          <h2>Account</h2>
          <p>Click here to either log in or create an account.  You do not need an account in order to view the products, only if you would like to purchase one. </p>
          <p><a class="btn btn-default" href="{% url 'signin' %}" role="button">Log In</a></p>
       </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->
{% endblock %}