{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2 align=center> {{ title }} </h2>
{% if user.is_authenticated %}
<div class="col-xs-10 col-xs-offset-1">
	<table class='table table-striped table-bordered table-hover'>
		<tr><td>Product Name</td><td>Price</td><td>Current Stock</td><td>Description</td></tr>
		<tr><td>{{ queryset.name }}</td><td>{{ queryset.price }}</td><td>{{ queryset.stock }}</td><td>{{ queryset.description }}</td></tr>
	</table>
</div>

<div class="row">
	<div class="col-xs-4 col-xs-offset-4">
		<form method='POST' action=''>{% csrf_token %}
			{{ form|crispy }}
			<input type='submit' class="btn btn-success" 	value='Submit Order' />
		</form>
	</div>
</div>

<br>
<br>



{% else %}

<h1> please sign in </h1>

{% endif %}
{% endblock %}

<h1> order page </h1>