{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<br>


<h1 align="center"> {{ title }} </h1>


<br><br><br>


<div class="row">
	<div class="col-xs-2 col-xs-offset-1">
		<p>Enter your user information.</p>
		<form method='POST' action=''>{% csrf_token %}
			{{ signinform|crispy }}
			<input type='submit' name="login" class="btn btn-success" 	value='Log In' />
		</form>
	</div>
	<div class="col-xs-3 col-xs-offset-1">
		<p>Add your information to create an account.</p>
		<form method='POST' action=''>{% csrf_token %}
			{{ createaccountform|crispy }}
			<input type='submit' name="create" class="btn btn-success" 	value='Create Account' />
		</form>
	</div>
</div>	




{% endblock %}
